body {
  margin: 0;
  padding: 0;
}

.auth {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 500px;
  height: 100vh;

  background-color: red;
}

form {
  margin: 0 auto;

  width: 75%;
}

.landingArea {
  margin-left:500px;
}